<!doctype html>
<html lang="en">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<div class="alert alert-primary" role="alert">
    <h4 class="text-center">Class - CPSC 4240 and 5240 Attendance</h4>
    <div class = "text-center">
    <a [routerLink]="['/UpdateStudents']" class="btn btn-lg btn-warning" role="button">Update Students</a>
    <br>
    <br>
    <a [routerLink]="['/DeleteStudents']" class="btn btn-lg btn-warning" role="button">Delete Students</a>
    
    
    
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th colspan="2">Students</th>
            <th colspan="1">Student ID</th>
            <th colspan="2" class = "text-center">Week 1</th>
            <th colspan="2" class = "text-center">Week 2</th>
            <th colspan="2" class = "text-center">Week 3</th>
            <th colspan="2" class = "text-center">Week 4</th>
            <th colspan="2" class = "text-center">Week 5</th>
            <th colspan="2" class = "text-center">Week 6</th>
            <th colspan="2" class = "text-center">Week 7</th>
 
        </tr>
    </thead>
    <tbody>
        <tr>  
            <td colspan="1" class = "text-center"></td>      
            <td colspan="1" class = "text-center"></td>  
            <td colspan="1" class = "text-center"></td>
            <td colspan="1" class = "text-center">Lecture 1</td>
            <td colspan="1" class = "text-center">Lecture 2</td>
            <td colspan="1" class = "text-center">Lecture 3</td>
            <td colspan="1" class = "text-center">Lecture 4</td>
            <td colspan="1" class = "text-center">Lecture 5</td>
            <td colspan="1" class = "text-center">Lecture 6</td>
            <td colspan="1" class = "text-center">Lecture 7</td>
            <td colspan="1" class = "text-center">Lecture 8</td>
            <td colspan="1" class = "text-center">Lecture 9</td>
            <td colspan="1" class = "text-center">Lecture 10</td>
            <td colspan="1" class = "text-center">Lecture 11</td>
            <td colspan="1" class = "text-center">Lecture 12</td>
            <td colspan="1" class = "text-center">Lecture 13</td>
            <td colspan="1" class = "text-center">Lecture 14</td>
          </tr>
            <tr *ngFor="let student of students">
                <th scope="row">{{ student.fname }} </th>
                <td colspan="1" class = "text-center">{{ student.lname}}</td>  
                <td colspan="1" class = "text-center">{{ student.studentId}}</td> 
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(1); else notFound1" > {{attendanceDict[student.studentId].includes(1)}}</td>
                <!-- <ng-template #notfound1>      
                    <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;"> No</td>
                </ng-template> -->
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(2); else notFound1" > {{attendanceDict[student.studentId].includes(2)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(3); else notFound1" > {{attendanceDict[student.studentId].includes(3)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(4); else notFound1" > {{attendanceDict[student.studentId].includes(4)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(5); else notFound1" > {{attendanceDict[student.studentId].includes(5)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(6); else notFound1" > {{attendanceDict[student.studentId].includes(6)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(7); else notFound1" > {{attendanceDict[student.studentId].includes(7)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(8); else notFound1" > {{attendanceDict[student.studentId].includes(8)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(9); else notFound1" > {{attendanceDict[student.studentId].includes(9)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(10); else notFound1" > {{attendanceDict[student.studentId].includes(10)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(11); else notFound1" > {{attendanceDict[student.studentId].includes(11)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(12); else notFound1" > {{attendanceDict[student.studentId].includes(12)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(13); else notFound1" > {{attendanceDict[student.studentId].includes(13)}}</td>
                <td style="color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(14); else notFound1" > {{attendanceDict[student.studentId].includes(14)}}</td>
                
                
                <!-- <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(1); else notFound1" > &#252;</td> -->
                <!-- <ng-template #notfound1>      
                    <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
                </ng-template>
                <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(2); else notFound1" > &#252;</td>
                <ng-template #notfound1>      
                    <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
                </ng-template>
                <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(3); else notFound1" > &#252;</td>
                <ng-template #notfound1>      
                    <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
                </ng-template>
                <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(4); else notFound1" > &#252;</td>
                <ng-template #notfound1>      
                    <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
                </ng-template>
                <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;" ngif="attendanceDict[student.studentId].includes(5); else notFound1" > &#252;</td>
                <ng-template #notfound1>      
                    <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
                </ng-template> -->
            <!-- <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;">
                </td>
            <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
            <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;">
                &#252;</td>
            <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
            <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;">
                &#252;</td>
            <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
            <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;">
                &#252;</td>
            <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;">
                &#252;</td>
            <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;">
                &#252;</td>
            <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
            <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;">
                &#252;</td>
            <td style="font-family: wingdings;color: red;text-align:center; font-size: 120%;">&#10060;</td>
            <td style="font-family: wingdings;color: green;font-weight:bold;text-align:center; font-size: 170%;">
                &#252;</td>       -->
        </tr>
    </tbody>
</table>

<br>
<br>

<div class = "text-center">

    <a [routerLink]="['/UniqueCode']" class="btn btn-lg btn-warning" role="button">Generate Code</a>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</html>