<div class="alert alert-primary" role="alert">
    <h4 class="text-center">List of Lectures - {{courseId}}</h4>
    Logged in as: {{ name }}
    <br>User Id: {{ userId }}
    <br>Email: {{ email }}

    <!-- Table -->

    <div>

        <img src="../assets/images/list.jpg" height="400vh" width="1500">

        <table class="table text-center" style="font-size:10pt;">
            <thead>
                <tr>
                    <td>

                        <!-- <div class = "text-center"> 
    
                        <a [routerLink]="['/ViewStudentList', courseId]" class="btn btn-lg btn-secondary" 
    
                         role="button">View Student List</a> 
    
                    </div> -->
                    </td>
                    <td>

                        <!--<div class = "text-center"> 
    
     
    
            <a (click)="generateCodeClick()" class="btn btn-lg btn-secondary" role="button">Add New Lecture</a> 
    
    </div>-->

                    </td>

                </tr>

                <br>

                <th style="font-size:15pt" class="text-right">Lecture Date</th>

                <th style="font-size:15pt" class="text-right">Secure Code</th>

                <th a [routerLink]="['/ViewStudentList', courseId]" class="btn btn-lg btn-secondary" role="button">View
                    Student List</th>

                <th></th>

                <th (click)="generateCodeClick()" class="btn btn-lg btn-secondary" role="button">Add New Lecture</th>

                <tr *ngFor="let lecture of lectureLists">

                    <input class="form-check-input-left" colspan="0" type="radio" name="flexRadioDefault"
                        id="radioButton" (click)="radioButtonClick(lecture.lectureId)">

                    <td class="text-leftmost">{{ formatDate(lecture.date) }} </td>

                    <td colspan="1" class="text-center">{{ lecture.secureCode}}</td>

                </tr>
                <tr>

                    <div *ngIf="radioClicked" class="text-center">

                        <a routerLink={{link()}} class="btn btn-lg btn-secondary" role="button">View Attendance List</a>

                    </div>

                </tr>
            </thead>
            <tbody id='tasks'>
            </tbody>
        </table>
        <div class="text-center">
        </div>
    </div>
</div>