<div class="alert alert-primary" role="alert">
    <h4 class="text-center">Student Details</h4>
    Logged in as: {{ name }}
	<br>User Id: {{ userId }}
	<br>Email: {{ useremail }}
</div>

<div style="text-align:center">
    <h5> Student Information</h5>
    <div class="row row-center">
        <div> Name: {{ fname }} {{ lname }} </div>
        <div> Student ID: {{ studentId }} </div>
        <div> Email ID: {{ email }} </div>
        <br>
        <br>
    </div>

    <div class="text-center">
        <a (click)="RemoveStudentFromCourseClick()" class="btn btn-lg btn-warning" role="button">Remove Student from
            Course</a>
    </div>
</div>