<div class="container theme-showcase d-flex justify-content-center">
	<h1>Our Attendance Tracker </h1>
</div>

<div class = "row row-center">
    <div *ngIf = "loggedIn">
        <p class="successMessage">Logged in as {{fullName.length > 0 ? fullName : ""}}</p>
        <p class="successMessage">userId: {{loggedInUserId}}</p>
        <p>Email: {{userEmail}}</p>
        <a routerLink = {{link()}} class="btn btn-lg btn-warning" role="button">Proceed with the app</a>
        <button (click)="logout()" class="btn btn-lg btn-warning" role="button">Logout</button>
    </div>
</div>

<div *ngIf = "formDisplay">
    <div class="container theme-showcase d-flex justify-content-center">
        <button (click)="LoginAsAProfessor()" class="row submitButton btn btn-md btn-warning">
            Login as a Professor
        </button>
    </div>

    <div  class="container theme-showcase d-flex justify-content-center">
        <a routerLink = {{LoginAsAStudent()}} class="row submitButton btn btn-md btn-warning" role="button">Login as a Stduent</a>
    </div>
    
</div>

<div class = "row row-center">
    <div *ngIf = "loggedOut" class="alert alert-success">
        <h1>Logged Out Sucessfully!!!</h1>
    </div>
</div>




